<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 내역</title>
</head>
<body>
    <header>
      <h2>주문수정</h2>
      <nav style="font-size=50%;">
        내 정보 | 장바구니 | 찜한 가게 | 결제 내역 | 포인트 | 고객센터
      <hr>
    </header>  
     <h2>이런 고민이 많으시군요(눈물)<br>다시 한 번 골라보아요</h2>
     <ul class="nav nav-tabs nav-menu">
    <li class="nav-item">
      <a class="nav-link" href="#">배달의 민족</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">한식</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">분식</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">돈가스</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">치킨</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">피자</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">중국집</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">족발</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">야식</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">찜, 탕</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">도시락</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">디저트</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">패스트푸드</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">프렌차이즈</a>
    </li>
    </ul>  
     <footer style="font-size:70%;"><br>&copy;2020 Park-hyeogmin with children</footer>
  </body>
  </html>
  
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="item-page.css">
      <link rel="stylesheet" href="item-page-menu.css">
      <!-- Bootstrap Material, JS, Proper.js, Jquery, Material Design Icons -->
      <!-- 이 프로젝트에 대한 모든 저작권은 (주)우아한 형제들 에게 있습니다. -->
      <!-- Made by Demain | github.com/demain18 -->
      <title>배달의 민족</title>
      <style>
  
      </style>
  </head>
  <body>
  
        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="ex3">
          <ul>
             <li>내 정보</li>
             <li>장바구니</li>
             <li>포인트</li>
             <li>쿠폰</li>
             <li>찜한 가게</li>
             <li>결재 내역</li>
             <li>리뷰관리</li>
             <li>고객센터</li> 
          </ul>
        </div>
      </div>
  </nav>