<!-- 주문내역 페이지 -->

{%extends 'base.html' %}
{% load static %}

{% block style %}{% static 'css/history.css' %}{% endblock %}
{% block title %}주문내역{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 내역</title>
</head>
<body>
  <header>
    <h2>주문내역</h2>
    <nav style="font-size=50%;">
      내 정보 | 장바구니 | 찜한 가게 | 결제 내역 | 포인트 | 고객센터
    <hr>
  </header>  
    <a href="{%url 'home' %}" class="btn btn-outline-danger"></a>    
       <address>
         지치고 힘들 때,<br>
         엄마가 보고플 때,<br>
         대신 저희가 찾아갑니다!
       </address>

    <h3 style="text-align:center;">고객님께서 주문하신 내용입니다</h3>
        <aside style="float:right;" width:100px;><strong>"둘이 먹다 둘 다 죽어도 모를 맛"<br>"지금까지 이런 맛은 없었다!"</strong></aside>
       <p><strong>매콤 양념치킨<strong></p>      
        <div class="btn-group item-count" role="group" aria-label="Basic example">
         <button class="bt bt01 up">-</button>
         <button class="bt bt-count">1</button>
         <button class="bt bt02 down">+</button>
       </div>
       <div class="basket-sum"><p><strong>합계 : 16,000원</strong></p></div>
       <aside style="float:right;" width:100px;><strong>"망설임은 배송만 늦춥니다"</strong></aside>
       <div class="pay-btn"><input type="submit" value="결제하기"><input type="submit" value="취소하기"></button></div>    
   </div>

   <footer style="font-size:70%;"><br>&copy;2020 Park-hyeogmin with children</footer>
</body>
</html>