<!-- 주문내역 페이지 -->

{%extends 'base.html' %}
{% load static %}

{% block style %}{% static 'css/history.css' %}{% endblock %}
{% block title %}주문내역{% endblock %}
{% block content %}
<header>
  <h2>주문내역</h2>
  <hr>
</header>
<a href="{%url 'home' %}" class="btn btn-outline-danger"></a>
<address>
  지치고 힘들 때,<br>
  엄마가 보고플 때,<br>
  대신 저희가 찾아갑니다!
</address>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h3>고객님께서 주문하신 내용입니다</h3>
      {% for item in orders %}
      <p><strong>{{ item.food }}<strong></p>
      <div class="basket-sum">
        <p><strong>합계 : {{ item.price }}원</strong></p>
      </div>
      <aside width:100px;><strong>"망설임은 배송만 늦춥니다"</strong></aside>
      <div class="pay-btn"><input type="submit" value="결제하기"><input type="submit" value="취소하기"></button></div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}