<!-- 주문하는 페이지 -->

{% extends "base.html" %}
{% load static %}

{% block style %}{% static 'css/order.css' %}{% endblock %}
{% block title %}주문하기{% endblock %}
{% block content %}
<!-- 배너 -->
  <body class="bg-light">
    <div class="container">
  <div class="py-5 text-center">
    <h2>주문하기</h2>
    <p class="lead">아래 양식에 맞게 정보를 입력하시오.</p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      

      <!-- 바디 -->
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">주문하기</h4>
      <form class="needs-validation" action="#" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        <!-- 주문하는 상품 -->
        <div class="mb-3">
            <label for="address">주문하는 상품</label>
            <input type="text" class="form-control" id="address" placeholder="여따가 템플릿변수" required>
        </div>

        <!-- 가격 -->
        <div class="mb-3">
            <label for="address">가격</label>
            <input type="text" class="form-control" id="address" placeholder="여따가 템플릿변수" required>
        </div>

        <!-- 이름 -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">이름</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
          </div>
        </div>

        <!-- 주소 -->
        <div class="mb-3">
          <label for="address">주소</label>
          <input type="text" class="form-control" id="address" placeholder="ex) 충남 신창면 순천향로22..." required>
        </div>

        <!-- 요청사항 -->
        <div class="mb-3">
            <label for="address">요청사항</label>
            <input type="text" class="form-control" id="address" placeholder="ex) 충남 신창면 순천향로22..." required>
          </div>

        <!-- 버튼 -->
        <button class="btn btn-primary btn-lg btn-block" type="submit">입력 완료</button>
      </form>
    </div>
  </div>
{% endblock %}